@charset "UTF-8";
/* ---------------

    	Eisalat

------------------ */
/* CSS Reset Based on -
 *    Eric Meyer's Reset CSS v2.0 (http://cssreset.com)
 *    Paul Irish's Box Sizing Reset (http://www.paulirish.com/2012/box-sizing-border-box-ftw/)
 *    CSS Mojo's clearfix (http://cssmojo.com/latest_new_clearfix_so_far/)
 */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Clearfix */
.cf:after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------------

	  Spacing

------------------------- */
.no-padd {
  padding: 0;
}

.padd-top {
  padding-top: 20px;
}

@media screen and (max-width: 600px) {
  .padd-top {
    padding-top: 15px;
  }
}

.padd-right {
  padding-right: 30px;
}

@media screen and (max-width: 600px) {
  .padd-right {
    padding-right: 20px;
  }
}

.padd-bottom {
  padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .padd-bottom {
    padding-bottom: 15px;
  }
}

.padd-left {
  padding-left: 30px;
}

@media screen and (max-width: 600px) {
  .padd-left {
    padding-left: 20px;
  }
}

.padd-all {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 600px) {
  .padd-all {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .mobile-padd {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* -----------------------------

             Type
             
------------------------------- */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: #323232;
}

@media screen and (max-width: 960px) {
  body {
    font-size: 1.6rem;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.8rem;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
}

@media screen and (max-width: 960px) {
  h2 {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 2.4rem;
  }
}

h3 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1rem;
  font-size: 2.4rem;
}

@media screen and (max-width: 960px) {
  h3 {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 600px) {
  h3 {
    font-size: 2rem;
  }
}

h4,
.pcblock__quote--text {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1rem;
  font-size: 2rem;
}

@media screen and (max-width: 960px) {
  h4,
  .pcblock__quote--text {
    font-size: 2.8rem;
  }
}

h5 {
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.ul {
  text-decoration: underline;
}

small {
  font-size: 1.6rem;
}

.entry-excerpt--meta {
  text-transform: uppercase;
  color: #8235b6;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

.site-nav-container {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

@media screen and (max-width: 960px) {
  .site-nav-container {
    color: #8235b6;
  }
}

#primary-nav {
  font-size: 1.8rem;
}

@media screen and (max-width: 960px) {
  #primary-nav {
    font-size: 1.6rem;
  }
}

#secondary-nav {
  font-size: 1.4rem;
}

@media screen and (max-width: 960px) {
  #secondary-nav {
    font-size: 1.6rem;
  }
}

.pwc-nav {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 600px) {
  .pwc-nav {
    font-size: 1.2rem;
  }
}

.pwcs__header h1 {
  font-size: 2.4rem;
}

.reaction_poll {
  font-size: 1.4rem;
}

/* -----------------------------

        Wordpress
        	 
------------------------------- */
.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* -----------------------------

        	 Z-Index
        	 
------------------------------- */
.social-share-buttons--floating {
  z-index: 5;
}

.site-nav-container {
  z-index: 15;
}

ul.sub-menu {
  z-index: 15;
}

.pwc-nav {
  z-index: 10;
}

.featured-content,
.featured-content img,
.featured-content a {
  z-index: 5;
}

.image-cover {
  z-index: 2;
}

.entry-excerpt--2 .entry-excerpt--entry {
  z-index: 5;
}

.conversion-prompt-container {
  z-index: 30;
}

.conversion-prompt-cancel {
  z-index: 31;
}

.cpstart {
  z-index: 30;
}

.cards-share-window {
  z-index: 35;
}

/* -----------------------------

             Main
             
------------------------------- */
body {
  background-color: #f0f0f0;
}

.main-body-area {
  padding: 35px 0;
  min-height: 500px;
  min-height: 70vh;
}

@media screen and (max-width: 960px) {
  .main-body-area {
    padding: 25px 0;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 1080px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

.site-main,
.site-sidebar {
  vertical-align: top;
  display: inline-block;
}

@media screen and (max-width: 960px) {
  .site-main,
  .site-sidebar {
    display: block;
  }
}

.site-main {
  width: 65%;
  margin-right: 5%;
}

@media screen and (max-width: 960px) {
  .site-main {
    width: 100%;
    margin-right: 0;
  }
}

.error-header img {
  width: 100%;
  height: auto;
}

.site-sidebar {
  width: 30%;
}

@media screen and (max-width: 960px) {
  .site-sidebar {
    display: none;
  }
}

.site-sidebar .entry-excerpt--title {
  font-size: 1.4rem;
}

.wechat-more {
  display: none;
}

.wechat-more img {
  width: 100%;
  height: auto;
}

/* Sidebar ads*/
#div-gpt-ad-1436517701090-0 {
  margin: 0 auto;
  text-align: center;
}

/* Infinite Scroll */
.infiniteScrollLoader-container {
  display: block;
  text-align: center;
}

.infiniteScrollLoader-container .infiniteScrollLoader {
  height: 100px;
  width: auto;
}

/* -----------------------------

            General
             
------------------------------- */
.site-box {
  position: relative;
  border: 0;
  margin-bottom: 35px;
}

@media screen and (max-width: 960px) {
  .site-box {
    margin-bottom: 25px;
  }
}

.site-box:not(.no-bg) {
  background-color: #fff;
}

.page-header {
  margin-bottom: 35px;
}

@media screen and (max-width: 960px) {
  .page-header {
    margin-bottom: 20px;
  }
}

/* -----------------------------

         Instagram Embed
             
------------------------------- */
.entry-full-content .ig-embed-link {
  text-decoration: none;
  color: inherit;
  font-weight: 300;
}

.entry-full-content .ig-embed {
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  margin: 0 auto;
  max-width: 600px;
}

.entry-full-content .ig-embed header {
  position: relative;
  text-align: left;
  height: 80px;
  line-height: 80px;
  padding: 0 10px;
}

.entry-full-content .ig-embed header span {
  display: inline-block;
  margin: 0;
}

.entry-full-content .ig-embed header span,
.entry-full-content .ig-embed-user--image {
  vertical-align: middle;
}

.entry-full-content img.ig-embed-user--image {
  display: inline-block;
  border-radius: 50%;
  text-align: left;
  width: 10%;
  margin-right: 10px;
}

.entry-full-content .ig-embed-user--handle {
  color: #125688;
  font-weight: 600;
  padding-right: 10px;
}

.entry-full-content .ig-embed-user--follow {
  border: 1px solid #125688;
  border-radius: 3px;
  background-color: #fff;
  color: #125688;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 600px) {
  .entry-full-content .ig-embed-user--follow {
    font-size: 12px;
    padding: 3px 5px;
  }
}

.entry-full-content .ig-embed--main {
  width: 100%;
  height: auto;
  padding: 0 10px 9px 10px;
}

.entry-full-content .ig-embed footer {
  position: relative;
  padding: 10px;
  background-color: #f0f0f0;
  height: 40px;
}

.entry-full-content .ig-embed-meta {
  color: #969696;
  font-weight: 600;
  font-size: 1.4rem;
  float: left;
}

.entry-full-content .ig-embed-meta i.fa {
  font-style: normal;
  padding-right: 5px;
}

.entry-full-content .ig-embed-meta span {
  margin-right: 15px;
}

.entry-full-content .ig-logo {
  height: 100%;
  width: auto;
  float: right;
}

/* -----------------------------

         Post Header
             
------------------------------- */
.entry-full-header {
  margin-bottom: 50px;
}

@media screen and (max-width: 960px) {
  .entry-full-header {
    margin-bottom: 40px;
  }
}

/* -----------------------------

      .entry-full.content
             
------------------------------- */
.fb-quote {
  z-index: 1;
}

.entry-full-content p,
.entry-full-content div,
.entry-full-content img,
.entry-full-content iframe {
  max-width: 100%;
}

.entry-full-content p {
  line-height: 2;
  margin-bottom: 1rem;
}

.entry-full-content img {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
}

.entry-full-content img.alignleft {
  float: left;
  margin-right: 20px;
  padding-bottom: 10px;
}

.entry-full-content img.alignright {
  float: right;
  margin-left: 20px;
  padding-bottom: 10px;
}

.entry-full-content b,
.entry-full-content strong {
  font-weight: 600;
}

.entry-full-content h3 {
  padding-top: 30px;
}

.entry-full-content a,
.entry-full-content a:visited {
  text-decoration: underline;
  color: #3655C6;
}

.entry-full-content em,
.entry-full-content i {
  font-style: italic;
}

.entry-full-content .watermark-img {
  position: relative;
  padding-bottom: 35px;
}

.entry-full-content .watermark-img em {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding-right: 80px;
}

.entry-full-content .watermark-img:after {
  content: "";
  height: 25px;
  width: 70px;
  background-image: url("inc/img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.entry-full-content .wp-caption-text {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.entry-full-content small {
  font-size: 1.4rem;
}

.entry-full-content .fluid-width-video-wrapper {
  width: 100%;
  position: relative;
  padding: 0;
}

.entry-full-content hr {
  opacity: 0.5;
}

/* POST CONTENT BLOCK */
.pcblock {
  margin-bottom: 50px;
}

.pcblock h3.pcblock__headline {
  padding: 0;
  margin-bottom: 20px;
}

/* Image */
.pcblock__image {
  position: relative;
}

.pcblock__image--credit {
  display: block;
  min-height: 30px;
}

.pcblock__image--zkklogo {
  content: "";
  height: 25px;
  width: 70px;
  background-image: url("inc/img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Embed */
.pcblock__embed iframe[id^='twitter-widget-'] {
  width: 100% !important;
  max-width: 100% !important;
}

.pcblock__embed iframe[src^="https://www.youtube.com/"] {
  width: 100% !important;
  height: 400px;
}

@media screen and (max-width: 600px) {
  .pcblock__embed iframe[src^="https://www.youtube.com/"] {
    height: 250px;
  }
}

/* Quote */
.pcblock__quote--text {
  quotes: "“" "”" "‘" "’";
  border-left: 10px solid #ccc;
  margin-bottom: 1rem;
  padding: 15px 0 15px 15px;
}

.pcblock__quote--text:before {
  color: #8235b6;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.pcblock__quote--text:after {
  content: close-quote;
  visibility: hidden;
}

.pcblock__quote--text p {
  display: inline;
}

.pcblock__quote--from {
  display: block;
  text-align: right;
  font-style: italic;
}

.quiz-checklist .quiz-checklist--item {
  display: block;
  border: 1px solid #D8D8D8;
  background-color: #f2f2f2;
  padding: 10px 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.quiz-checklist .quiz-checklist--item span {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding-left: 10px;
}

.quiz-checklist .quiz-checklist--item:hover {
  background-color: #FEF195;
}

.quiz-checklist .quiz-checklist--item.quiz-checklist--item__checked {
  background-color: #8ac5ff;
}

body.single article.post .entry-full-content .quiz-checklist a.quiz-checklist--submit {
  display: block;
  background-color: #8235b6;
  color: #fff;
  height: 50px;
  margin-top: 20px;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}

.quiz-checklist--error-message {
  margin-top: 20px;
  color: red;
}

.quiz-checklist--results-container {
  display: none;
  margin: 30px 0;
  border: 1px solid #D8D8D8;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
}

.quiz-checklist--results-container .quiz-checklist--result-quiz-title {
  font-size: 16px;
}

.quiz-checklist--results-container .quiz-checklist--result-title {
  font-size: 24px;
  color: #000;
  font-weight: 600;
  display: block;
  margin-bottom: 20px;
}

.quiz-checklist--results-container .quiz-checklist--result-description {
  font-size: 18px;
}

.quiz-checklist--share-container {
  margin-top: 20px;
  border-top: 1px solid #D8D8D8;
  padding-top: 15px;
}

/* -----------------------------

         Poll
             
------------------------------- */
/* Javascript Selectors */
.pcblock__poll--q-container {
  position: relative;
  width: 100%;
  padding: 50px 20px;
  text-align: center;
  margin-bottom: 30px;
}

.pcblock__poll li.poll-answer {
  border: 1px solid #D8D8D8;
  background-color: #f2f2f2;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
  vertical-align: top;
}

.pcblock__poll li.poll-answer label {
  cursor: pointer;
}

.pcblock__poll .pollResults {
  background-color: #D8D8D8;
  color: #fff;
  text-align: center;
}

.pcblock__poll .pollResults.pollResults-showing {
  background-color: #8235b6;
  color: #fff;
}

.pcblock__poll .share-poll-result {
  display: none;
}

.poll-answers--image {
  text-align: center;
}

.poll-answers--image li.poll-answer {
  display: inline-block;
  width: 47%;
  margin-right: 15px;
  padding: 10px 15px;
  padding-bottom: 60px;
}

.poll-answers--image li.poll-answer:nth-child(odd) {
  margin-right: 2%;
}

.poll-answers--image .poll-answer--image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 15px;
}

.poll-answers--image .poll-answer--image img {
  min-height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.poll-answers--image .answerText {
  display: inline-block;
  max-width: 82%;
}

.poll-answers--image .pollResults {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  line-height: 50px;
}

.poll-answers--text .poll-answer--image {
  display: none;
}

.poll-answers--text li.poll-answer {
  display: block;
  padding: 10px 15px;
}

.poll-answers--text .answerText {
  display: inline-block;
  max-width: 82%;
}

.poll-answers--text .pollResults {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  min-width: 15%;
  padding-top: 10px;
}

/* Both */
li.poll-answer:hover {
  background-color: #FEF195;
}

li.poll-answer.poll-answer--picked {
  background-color: #8ac5ff;
  color: #fff;
}

.pollResults__real,
.answerCount--real {
  display: none;
}

.share-poll-result {
  margin-top: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #D8D8D8;
  display: none;
}

/* Old Poll */
.zkk-poll li.poll-answer {
  display: block;
  border: 1px solid #D8D8D8;
  background-color: #f2f2f2;
  padding: 10px 15px;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}

.zkk-poll li.poll-answer .answerCount.answerCount-showing {
  background-color: #8235b6;
  color: #fff;
}

.zkk-poll .answerText {
  display: inline-block;
  max-width: 82%;
}

.zkk-poll .answerCount {
  background-color: #D8D8D8;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  min-width: 15%;
  padding-top: 10px;
}

/* -------------------------

    ETISALAT CUSTOM POST PAGE

------------------------- */
.main-body-area--post-only > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-body-area--post-only .site-main {
  margin: 0 auto;
  width: 100%;
  max-width: 740px;
}
