.git
.svn
.htaccess
wp-content/uploads
wp-content/cache
wp-content/themes/*/cache/*
wp-content/gallery/*
wp-config
wp-config-sample.php
local-config.

wp-content/themes/zkk/development/
wp-content/themes/zkk/gulpfile.js
wp-content/themes/zkk/node_modules/
wp-content/themes/zkk/package.json