/* -------------------------

	  Homepage

------------------------- */



/* Featured Content */


.featured-content {

	background-color: rgb(30, 30, 30);
	color: #fff;
	height: auto;
	padding-top: 30px;

}



.main-featured-post,
.aside-featured-posts {
	display: inline-block;
	width: 47.5%;
	vertical-align: top;

	@include screen-custom(max, 750) {
		display: block;
		width: 100%;
	}
	
}

.main-featured-post {
	position: relative;

	margin-right: 5%;

	@include screen-custom(max, 750) {
		margin-right: 0;
	}


	.entry-excerpt--image {
		height: 340px;
		overflow: hidden;

		img {
			min-height: 100%;
			width: 100%;
			height: auto;
		}
	}

	.entry-excerpt--entry {
		font-size: 26px;
		text-align: left;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.8);
		color: $theme;
		padding: 20px;
		bottom: 0;
	}


}

.aside-featured-posts {


	

	article {

		background-color: transparent;

		display: inline-block;
		vertical-align: top;
		width: 29%;
		margin-left: 1.5%;
		margin-right: 1.5%;
	}

	.entry-excerpt--image {
		height: 90px;
		overflow: hidden;
	}

	.entry-excerpt--entry {

		a { color: $bg-colour; }
		
		font-size: 1.1rem;
		 
	}


	@include screen(med) {

		article:nth-child(5),
		article:nth-child(6) {
			display: none;
		}

		article {
			width: 46%;
		}

	}

	@include screen(med-small) {
		article:nth-child(3),
		article:nth-child(4) {
			display: none;
		}
	}
}



/* Paging Navigation */

.paging-navigation {
	text-align: center;

	a {
		color: $theme;
	}


	span.current {
		font-weight: 600;
	}

	a.next {
		margin-left: 15px;
	}

	a.prev {
		margin-right: 15px;
	}


}

.infiniteScrollLoader {
	margin: 0 auto 20px;
}












