/* -------------------------

	  Sponsors

------------------------- */



.post-sponsor {
	// border: 1px solid red;
	height: 60px;

	position: relative;
	display: block;
	margin-bottom: 35px;
	

	font-family: $font-stack;
	letter-spacing: normal;


	@media screen and (max-width: 650px) {
		height: 50px;
	}


	img {
		height: 100%;
		width: auto;
	}

	span {
		
	}

	

	

	.sponsor-text {
		margin-bottom: 10px;
		display: inline-block;
		font-weight: 600;
		padding: 0;	
		
	}

	.sponsored-by {
		background-color: #f0f0f0;
		color: $theme;
		font-size: 12px;
		line-height: 1;
		position: relative;
		top: 0;
		display: inline-block;
		padding: 2px 5px;
		margin-bottom: 5px;
		width: auto;

	}

	.sponsor-name {
		display: block;

		@media screen {
			font-size: 14px;
		}

		a {
			color: #000;
		}

	}

	
}

.sponsor-image {
	height: 60px;
	width: 60px;
	padding-right: 10px;
	float: left;

	// border: 1px solid red;
	overflow: hidden;

	img {
		width: 100%;
		height: auto;
	}
}

h1.sponsor-title {
	// border: 1px solid red;
	line-height: 60px;
	padding: 0;
}


.website-link {
	display: block;
	font-family: $font-stack;
	letter-spacing: normal;

}
