/* -------------------------

	  Spacing

------------------------- */






@mixin padd($side) {


	@if $side == top {

		padding-top: 20px;

		@include screen(small) {
			padding-top: 15px;
		}

	}

	@if $side == right {

		padding-right: 30px;

		@include screen(small) {
			padding-right: 20px;
		}
		
	}

	@if $side == bottom {

		padding-bottom: 20px;

		@include screen(small) {
			padding-bottom: 15px;
		}
		
	}

	@if $side == left {

		padding-left: 30px;

		@include screen(small) {
			padding-left: 20px;
		}
		
	}

	@if $side == all {

		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 30px;
		padding-right: 30px;


		@include screen(small) {
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 20px;
			padding-right: 20px;
		}
		
	}


	
}




.no-padd {
	padding: 0;
}


.padd-top {
	@include padd(top);
}
.padd-right {
	@include padd(right);
}
.padd-bottom {
	@include padd(bottom);
}
.padd-left {
	@include padd(left);
}
.padd-all {
	@include padd(all);
}


.mobile-padd {
	@include screen(small) {
		padding-left: 20px;
		padding-right: 20px;
	}
}


