/* -----------------------------

             Type
             
------------------------------- */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    line-height: 1.6;
    font-family: $font-stack;
    font-weight: 400;
    color: $text-colour;

    @include screen(med-small) {
        font-size: 1.6rem;
    }
}




h1 {
    font-family: $font-stack-secondary;
    font-size: 3.2rem;

    @include screen(med-small) {
        font-size: 3rem;
    }

    @include screen(small) {
        font-size: 2.8rem;
    }
}


h2 {
    
    font-family: $font-stack-secondary;
    font-size: 2.8rem;

    @include screen(med-small) {
        font-size: 2.6rem;
    }

    @include screen(small) {
        font-size: 2.4rem;
    }

}

h3 {
    font-family: $font-stack-secondary;
    padding-bottom: 1rem;

    font-size: 2.4rem;

    @include screen(med-small) {
        font-size: 2.4rem;
    }

    @include screen(small) {
        font-size: 2rem;
    }
}

h4,
.pcblock__quote--text {
    font-family: $font-stack-secondary;
    padding-bottom: 1rem;

    font-size: 2rem;

    @include screen(med-small) {
        font-size: 2.8rem;
    }


}

h5 {
    font-family: $font-stack-secondary;
}




a {
    color: inherit;
    text-decoration: none;
}

small {
    font-size: 1.6rem;
}



.entry-excerpt--meta {
    text-transform: uppercase;
    color: $theme;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
}




.site-nav-container {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.4rem;


    @include screen(med-small) {
        color: $theme;
    }
}

#primary-nav {
    font-size: 1.8rem;

    @include screen(med-small) {
        font-size: 1.6rem;
    }
}


#secondary-nav {
    font-size: 1.4rem;

    @include screen(med-small) {
        font-size: 1.6rem;
    }
}




.reaction_poll {
    font-size: 1.4rem;
}




  
