/* -----------------------------

        Wordpress
        	 
------------------------------- */


.float-right {
	float: right;
}

.float-left {
	float: left;
}


.entry-full-content {

	p {
		line-height: 2;
		margin-bottom: 1rem;
	}

	img {
		position: relative;
		display: block;
		max-width: 100%;
		height: auto;
	}


	img.alignleft {
		float: left;
		margin-right: 20px;
		padding-bottom: 10px;
	}

	img.alignright {
		float: right;
		margin-left: 20px;
		padding-bottom: 10px;
	}
	
	b,
	strong {
		font-weight: 600;
	}

	h3 {
		padding-top: 30px;
	}

	a,
	a:visited {
		text-decoration: underline;
		color:#3655C6;
	}

	em,
	i {
		font-style: italic;
	}



}