/* -----------------------------

        	 Z-Index
        	 
------------------------------- */


.social-share-buttons--floating {
	z-index: 5;
}

.site-nav-container {
	z-index: 15;
}

ul.sub-menu {
	z-index: 15;
}


.featured-content,
.featured-content img,
.featured-content a {
	z-index: 5;
}

.image-cover {
	z-index: 2;
}

.entry-excerpt--2 .entry-excerpt--entry {
	z-index: 5;
}


.conversion-prompt-container {
	z-index: 30;
}

.conversion-prompt-cancel {
	z-index: 31;
}



.cpstart {
	z-index: 30;
}

.cards-share-window {
	z-index: 35;
}
