/* -----------------------------

            General
             
------------------------------- */

.site-box {
	background-color: #fff;
	position: relative;
	border: 0;
	margin-bottom: 35px; 

	@include screen(med-small) {
		margin-bottom: 20px;
	}
}

.page-header {
	margin-bottom: 35px; 

	@include screen(med-small) {
		margin-bottom: 20px;
	}
}