/* -----------------------------

         Instagram Embed
             
------------------------------- */


body.single article.post .entry-full-content {




.ig-embed-link {
	text-decoration: none;
	color: inherit;
	font-weight: 300;
}

.ig-embed {

	border: 1px solid rgb(200, 200, 200);
	border-radius: 3px;

	margin: 0 auto;


	/* Test */

	max-width: 600px;

}


.ig-embed header {

	position: relative;

	text-align: left;

	height: 80px;
	line-height: 80px;

	padding: 0 10px;


}

.ig-embed header span {
	display: inline-block;
	margin: 0;
}

.ig-embed header span,
.ig-embed-user--image {
	vertical-align: middle;
}

img.ig-embed-user--image {
	display: inline-block;
	border-radius: 50%;
	text-align: left;
	width: 10%;
	margin-right: 10px;
}

.ig-embed-user--handle {
	color: #125688;
	font-weight: 600;
	padding-right: 10px;
}

.ig-embed-user--follow {
	border: 1px solid #125688;
	border-radius: 3px;
	background-color: #fff;
	color: #125688;
	padding: 5px 10px;

	position: absolute;
	right: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);


	@media screen and (max-width: 600px) {
		font-size: 12px;
		padding: 3px 5px;
	}
}



.ig-embed--main {
	width: 100%;
	height: auto;
	padding: 0 10px 8px 10px;
}




.ig-embed footer {
	position: relative;
	padding: 10px;
	background-color: rgb(240, 240, 240);
	height: 40px;
}


.ig-embed-meta {
	color: rgb(150, 150, 150);
	display: inline-block;
	font-weight: 600;
}

.ig-embed-meta span {
	margin-right: 15px;
}



.ig-logo {
	height: 100%;
	width: auto;
	float: right;
}


}