/* -----------------------------

         Post Excerpt
             
------------------------------- */


.entry-excerpt {

	position: relative;

}


// .entry-excerpt--image,
// .entry-excerpt--entry {
// 	display: inline-block;
// 	vertical-align: top;
//}


/* Entry Excerpt Format 1 */


.entry-excerpt--1 {


	.entry-excerpt--image {
		width: 45%;
		height: 100%;
		overflow: hidden;

		position: absolute;
		top: 0;
		left: 0;

		background-color: $theme;

		a {
			display: block;
			height: 100%;
			width: 100%;
		}

		img {
			height: 100%;
			min-width: 100%;
			width: auto;
			object-fit: cover;

			opacity: 1;
			transition: opacity 0.5s;


		}


		@include screen(med-small) {

			position: relative;
			display: block;
			width: 100%;

			

			img {
				width: 100%;
				height: auto;
				margin-bottom: -10px;

			}
				
		}
	}

	.entry-excerpt--image img:hover {
		opacity: 0.5;
		transition: opacity 0.5s;
	}

	.entry-excerpt--entry {
		padding-left: 50%;
		width: 100%;

		@include screen(med-small) {
			padding-left: 30px;
		}


		@include screen(small) {
			padding-left: 20px;
		}
	}

}




/* Entry Excerpt Format 2 */


.entry-excerpt--2 {


	.entry-excerpt--image {
		
		height: 200px;
		margin-bottom: 10px;
		overflow: hidden;
		background-color: $theme;

		a {
			display: block;
			height: 100%;
			width: 100%;
		}

		img {
			height: auto;
			width: 100%;
			object-fit: cover;

			opacity: 1;
			transition: opacity 0.5s;


		}
	}

	.entry-excerpt--image img:hover {
		opacity: 0.5;
		transition: opacity 0.5s;
	}

	.entry-excerpt--entry {

	}

}






