/* -----------------------------

         Post Modal
             
------------------------------- */


.conversion-prompt-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	background-color: rgba(0, 0, 0, 0.8);
}



/* New Modal */


.modal {
	background-color: $theme;
	color: #fff;

	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);


	width: 100%;
	height: auto;
	max-width: 500px;

	height: 100%;
	max-height: 700px;

	text-align: center;

	padding: 40px;

	@media screen and (max-width: 650px) {
		max-width: 100%;
		height: 100%;

		padding: 20px;
	}




	.modal-top {



		@media screen and (min-width: 650px) {
			margin-bottom: 45px;
		}
		@media screen and (max-width: 650px) {
			margin-bottom: 25px;
		}

	


	}

	.modal-bottom {
		// height: 50%;
	}

}


.modal-title {
	font-family: $font-stack;

	@media screen and (min-width: 650px) {
		font-size: 26px;
		margin-bottom: 35px;
	}
	@media screen and (max-width: 650px) {
		font-size: 18px;
		margin-bottom: 25px;
	}
}


.modal-title-secondary {
	font-family: $font-stack;
	margin-bottom: 20px;

	@media screen and (min-width: 650px) {
		font-size: 20px;
	}
	@media screen and (max-width: 650px) {
		font-size: 16px;
	}

}








.social-share-buttons--modal {
	
	max-width: 400px;
	margin: 0 auto;

	li {
		text-align: center;
		color: #fff;
		font-size: 14px;
		margin-bottom: 15px;
	}


	li.facebook {
		display: block;
		width: 100%;
	}


	@media screen and (min-width: 750px) {

		li.twitter {
			width: 100%;
			display: block;
			margin-right: 0;
		}
		li.whatsapp {
			display: none;
		}

	}



	@media screen and (max-width: 750px) {

		li.twitter,
		li.whatsapp {
			width: 48%;
			display: inline-block;
			vertical-align: top;

			.share-text {
				display: none;
			}
		}

		li.twitter {
			margin-right: 2%;
		}

		li.whatsapp {
			margin-left: 2%;
		}

	}


	

	li a {
		display: block;
		width: 100%;
		padding: 10px;
		
	}




	.share-text {
		padding-left: 10px;
		display: inline-block;

	}

}





.next-post {
	position: relative;
	max-width: 400px;
	margin: 0 auto;
	
	max-height: 300px;
	overflow: hidden;

	// border: 3px solid red;

	a.widget-post-title {
		text-align: left;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.8);
		color: $theme;
		padding: 20px;
		bottom: 0;
		left: 0;
		width: 100%;


		@media screen and (min-width: 650px) {
			font-size: 1.6rem;
		}
		@media screen and (max-width: 650px) {
			font-size: 1.2rem;

		}
	}


	@include screen(med-small) {
		max-height: 250px;
	}

	@include screen(med-small) {
		max-height: 200px;
	}


	figure {
		width: 100%;
		height: 100%;
		height: auto;
		overflow: hidden;
		// max-height: 300px;

		img {
			width: 100%;
			height: auto;
		}
	}


	@media screen and (max-height: 550px) {
		height: 150px;
	}

	@media screen and (max-height: 500px) {
		height: 130px;
	}

	@media screen and (max-height: 470px) {
		height: 100px;
	}


}

.conversion-prompt-cancel {
	height: 40px;
	line-height: 40px;
	display: block;

	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: $theme;

	padding-bottom: 50px;

	@media screen and (max-width: 650px) {
		padding-bottom: 20px;
	}
}











