/* -----------------------------

         Poll
             
------------------------------- */


.pcblock__poll--q-container {
	position: relative;
	width: 100%;
	padding: 50px 20px;
	text-align: center;

	margin-bottom: 30px;
}

.pcblock__poll--q {

}


.pcblock__poll {


	li.poll-answer {
		border: 1px solid #D8D8D8;
	    background-color: #f2f2f2;

	    margin-bottom: 15px;

	    position: relative;

	    cursor: pointer;
	    vertical-align: top;
		

	    


	}

	.pollResults {
		background-color: #D8D8D8;
		color: #fff;
		text-align: center;
    }

    .pollResults.pollResults-showing {
    	background-color: $theme;
    	color: #fff;
    }


    .share-poll-result {
    	display: none;
    }
}





.poll-answers--image {

	text-align: center;

	li.poll-answer {
		display: inline-block;

		width: 47%;
		margin-right: 15px;

	    padding: 10px 15px;

	    padding-bottom: 60px;

	}

	li.poll-answer:nth-child(odd) {
		margin-right: 2%;
	}


	.poll-answer--image {
		
		width: 100%;
		height: 200px;

		overflow: hidden;
		margin-bottom: 15px;

		img {
			min-height: 100%;
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	.answerText {
		display: inline-block;
		max-width: 82%;
	}

    .pollResults {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 50px;
		width: 100%;
		line-height: 50px;

    }



}



.poll-answers--text {

	.poll-answer--image {
		display: none;
	}


	li.poll-answer {
		display: block;

	    padding: 10px 15px;

	}


	.answerText {
		display: inline-block;
		max-width: 82%;
	}
    .pollResults {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: auto;
		min-width: 15%;
		padding-top: 10px;
    }

}




/* Both */

li.poll-answer:hover {
	background-color: #FEF195;
}

li.poll-answer.poll-answer--picked {
	background-color:#8ac5ff;
	color: #fff;
}

.pollResults__real,
.answerCount--real {
	display: none;
}



.share-poll-result {
	margin-top: 40px;
	padding-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #D8D8D8;

	display: none;
}



/* Old Poll */

.zkk-poll {


	li.poll-answer {
		display: block;
		border: 1px solid #D8D8D8;
	    background-color: #f2f2f2;

	    padding: 10px 15px;
	    margin-bottom: 15px;

	    position: relative;

	    cursor: pointer;
		
		
		

	    .answerCount.answerCount-showing {
	    	background-color: $theme;
	    	color: #fff;
	    }


	}

	.answerText {
		display: inline-block;
		max-width: 82%;
	}
    .answerCount {
		background-color: #D8D8D8;
		color: #fff;
		text-align: center;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: auto;
		min-width: 15%;
		padding-top: 10px;
    }

	
}





