
.quiz-checklist {


	.quiz-checklist--item {
		display: block;
		border: 1px solid #D8D8D8;
	    background-color: #f2f2f2;

	    padding: 10px 15px;
	    margin-bottom: 15px;

	    cursor: pointer;


	    span {
	    	font-family: $font-stack;
	    	font-size: 16px;
	    	line-height: 20px;
	    	padding-left: 10px;

	    }

	}


	.quiz-checklist--item:hover {
		background-color: #FEF195;
	}

	.quiz-checklist--item.quiz-checklist--item__checked {
		background-color:#8ac5ff;
	}


}

body.single article.post .entry-full-content .quiz-checklist a.quiz-checklist--submit {
	display: block;
	background-color: $theme;
	color: #fff;
	height: 50px;

	margin-top: 20px;

	font-family: $font-stack;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
} 


.quiz-checklist--error-message {
	margin-top: 20px;
	color: red;
}


.quiz-checklist--results-container {

	display: none;
	
	margin: 30px 0;
	border: 1px solid #D8D8D8;
	background-color: #f2f2f2;
	padding: 20px;
	font-family: $font-stack;


	.quiz-checklist--result-quiz-title {
		font-size: 16px;
	}

	.quiz-checklist--result-title {
		font-size: 24px;
		color: #000;
		font-weight: 600;
		display: block;
		margin-bottom: 20px;
	}

	.quiz-checklist--result-img {
	}


	.quiz-checklist--result-description {
		font-size: 18px;
	}


}

.quiz-checklist--share-container {
	margin-top: 20px;
	border-top: 1px solid #D8D8D8;
	padding-top: 15px;

}




