/* -----------------------------

             Cards
             
------------------------------- */

body.single-cards {
	background-color: #fff;
}

/* Header Cards */

.sh-cards {

	height: 30px;
	background-color: $bg-colour;
	position: relative;
	text-align: center;
}

.sh-cards__branding,
.sh-cards__close {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 0;
}

.sh-cards__branding {
	left: 0;
	img {
		height: 30px;
		width: 30px;
	}
}

.sh-cards__page-header {
	width: 100%;
	line-height: 30px;
	padding: 0 40px;

	font-size: 1.2rem;

	@include screen(small) {
		font-size: 1rem;
	}

}

.sh-cards__close {
	right: 0;
	background-color: $text-colour;
	color: #fff;

}


.sf-cards {
	height: 30px;
	background-color: $bg-colour;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.sf-cards__nav--right,
.sf-cards__nav--left {
	position: fixed;
	bottom: 0;
	height: 30px;
	width: 30px;
	background-color: $text-colour;
	color: #fff;
	text-align: center;
}

.sf-cards__nav--right {
	right: 0;
}

.sf-cards__nav--left {
	left: 0;
}







.main-body-area--cards {
	padding-bottom: 20px;
}

.cbpadd {
	padding-left: 20px;
	padding-right: 20px;
}




.cb__image {
	height: 60vh;
	overflow: hidden;
	img {
		min-height: 100%;
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}
.cb__image--zkklogo {
	margin-right: 15px;
}







.cpstart {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;

	text-align: center;


	.cpstart__container {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);

		padding-bottom: 100px; // size of cta

	}


	.cpstart__branding img {
		height: 50px;
		width: auto;
		margin: 0 auto;
	}

	.cpstart__title {
		margin: 30px auto;
	}



}



.entry-full-content  {
	
	a.cpstart__cta,
	a.cpstart__cta:visited {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: $theme;
		color: #fff;
		text-decoration: none;
		display: block;
		padding: 20px 10px;

		


	    .cpstart__cta--main {
	    	font-family: $font-stack-secondary;
		    text-transform: uppercase;
		    display: block;
		    padding: 10px 0;
	    }

	    .cpstart__cta--sub {
	    	font-style: italic;
	    }
	}

	h3.cb__headline {
		padding-top: 10px;
	}


	.cb-advert {
		margin-top: 20px;

		// test
		text-align: center;
	}

	
}




.cards-share-window {
	background-color: rgba(255, 255, 255, 0.95);
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;

	padding: 40px 20px;
}

.cards-share-window:not(.showing) {
	@include transition-hide;
}
.cards-share-window.showing {
	@include transition-show;
}

.cards-share-window__heading {
	margin-bottom: 20px;
}

.cards-show-share {
	display: block;
	width: 80%;
	padding: 0 40px;
	text-align: center;
	margin: 0 auto;



}
















