/* -----------------------------

             Main
             
------------------------------- */


body {
	background-color: $bg-colour;
}


.main-body-area  {
	padding: 35px 0;

	min-height: 500px;
	min-height: 70vh;

	@include screen(med-small) {
		padding: 25px 0;
	}
}

.container {
	position: relative;
	margin: 0 auto;


	width: 90%;
	max-width: 1080px;

	@include screen(small) {
		width: 100%;
	}
}



.site-main,
.site-sidebar {
	vertical-align: top;
	display: inline-block;


	@include screen(med-small) {
		display: block;
	}

}

.site-main {
	width: 65%;
	margin-right: 5%;

	@include screen(med-small) {
		width: 100%;
		margin-right: 0;
	}
}


.site-sidebar {
	width: 30%;

	@include screen(med-small) {
		display: none;
	}

	.entry-excerpt--title {
		font-size: 1.4rem;
	}

}

.wechat-more {
	display: none;
	img {
		width: 100%;
		height: auto;
	}
}


/* Sidebar ads*/

#div-gpt-ad-1436517701090-0 {
	margin: 0 auto;
	text-align: center;
}



/* Infinite Scroll */

.infiniteScrollLoader-container {
	display: block;
	text-align: center;

	.infiniteScrollLoader {
		height: 100px;
		width: auto;
	}
}







