/* -----------------------------

         Navigation
             
------------------------------- */

.site-primary-nav {

	background-color: $theme;
	display: block;
	height: 55px;

	margin-top: 25px;

}