/* -----------------------------

         Navigation
             
------------------------------- */

.site-nav-container {
	
	position: relative;
	background-color: $theme;
	display: block;
	margin-top: 25px;

	@include screen(med-small) {
		
		background-color: $bg-colour;
		margin: 0;
		padding: 15px 0;
		position: fixed;
		top: 0;
		
		width: 60%;
		height: 100%;

		box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
		
	}


	.container {
		@include screen(small) {
			width: 90%;
		}
	}


}


@include screen(med-small) {

	.site-nav-container.site-nav-container--hidden {
		left: -61%;
		transition: left 1s;
	}

	.site-nav-container.site-nav-container--showing {
		left: 0;
		transition: left 1s;
	}

}




.site-nav-container,
.primary-menu-container,
.secondary-menu-container {
	height: 55px;

	@include screen(med-small) {
		height: 100%;
	}
}

.primary-menu-container,
.secondary-menu-container {
	display: inline-block;
	vertical-align: top;
	width: 50%;


	@include screen(med-small) {
		display: block;
		width: 100%;
		margin-top: 20px;
	}


	li {
		display: inline-block;

		@include screen(med-small) {
			display: block;
		}

		a {
			display: block;
			height: 100%;
			width: 100%;
			
		}
		
	}
}


.primary-menu-container {
	line-height: 55px;

	li a {
		padding-right: 15px;
	}



	li:hover {
		opacity: 0.5;
	}
}


.secondary-menu-container {

	text-align: right;

	@include screen(med-small) {
		text-align: left;
	}

	li a {
		padding-left: 15px;

		@include screen(med-small) {
			padding-left: 0;
		}
	}


	#secondary-nav > li {
		line-height: 55px;

	}



	ul.sub-menu {
		background-color: #fff;
		color: $theme;
		position: relative;

		width: auto;

		line-height: 55px;
		display: none;

		@include screen(med-small) {
	        background-color: $bg-colour;
	        padding-left: 20px;
	    }

		li {
			display: block;
			padding-right: 15px;
		}
	}

	li.menu-item-has-children:hover ul.sub-menu {
		display: block;
	}
}





.show-on-mobile-nav {
	display: none;

	@include screen(med-small) {
		display: block;
	}
}



.nav-toggle--open {
	position: absolute;
	right: 0;

	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}


.nav-toggle--close {
	text-align: center;
	display: block;
	margin-bottom: 15px;
	
	.fa {
		color: #fff;
		background-color: $theme;
		border-radius: 50%;
		height: 30px;
		width: 30px;
		line-height: 30px;
		padding-left: 2px;
	}
	

}












